* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-title {
  color: #00d775;
}

form {
  align-items: center;
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 450px;
  justify-content: center;
  width: 750px;  
}

form input {
  border: 1px solid gray;
  border-radius: 2px;
  height: 30px;
  text-align: center;
  width: 250px;
}

form input:focus {
  outline: none;
}

.login-button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 50%;
  z-index: 9;
}

.login-button:disabled {
  background: #00bd68;
  cursor: not-allowed;
}
