.profile-section {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px , rgba(0, 0, 0, 0.23) 0 3px 6px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 600px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 50px 0;
  width: 500px;
}

.edit-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.description-section {
  text-align: center;
}

.edit-section img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 100px;
}

.edit-section button {
  background: white;
  border: 1px solid #00bd68;
  border-radius: 5px;
  height: 30px;
  width: 100px;
}

.edit-section button:hover {
  cursor: pointer;
}
