header {
  align-items: center;
  background-color: #00bd68;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100px;
  justify-content: center;
}

.links-section {
  display: flex;
  gap: 30px;
}

.links-section div {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  color: #00bd68;
  cursor: pointer;
  display: flex;
  height: fit-content;
  justify-content: center;
  width: 150px;
  transition: 200ms;
}

.links-section div:hover {
  transform: scale(1.1);
}

.search-link, .favorites-link, .profile-link {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header {
    height: max-content;
    padding: 12px;
  }

  .links-section {
    flex-direction: row;
    gap: 12px;
  }

  .links-section div {
    width: 100%;
    min-height: 100%;
  }
}